body {
	color: #FF5A09;
	text-align: center;
	background: #6e6e6e;
	/* background: url("http://dash.ga.co/assets/anna-bg.png"); */
	/* background: linear-gradient(bottom, #6e6e6e , #393939); */
	/* background: linear-gradient(bottom, orange, purple); */
	/* background: -webkit-linear-gradient(left, blue, green); */
	/* background: -moz-linear-gradient(bottom, yellow, red); */
	background-size: cover ;
	background-repeat: no-repeat;
	/* background-position: center; */
}
header {
	margin: auto;
}
.pro-image {
	position:relative;
	display: block;
	border-radius:100%;
	border: 5px solid white;
	/* height:25em; */
	margin: 100px auto 5px auto;
	height: 240px;
	background: red;
}
h5 {
	margin: 0 0 0 0;
	font-size: 1.2em;
}
h1 {
	font-size: 4.0em;
	margin: 1px 1px 10px 1px;
}
/* Divider "info" formatting start */
.info {
	display: block;
	font-size: 2.5em;
}
div.info img {
	height: 60px;
	vertical-align: middle;
}
/* Divider "info" temperaturePipe end */
/* Divider "history" formatting start */
.history {
	margin: 1%;
}
div.history img {
	/* background: purple; */
	height: 5em;
	padding: 0 2.5em 0 2.5em;
}
/* Divider "history" formatting end*/
/* aboutme div control */
.home {
	display: none;
	text-align: center;
	font-size: 1.5em;
	color: white;
	max-width: 85%;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
}