.pro-image {
	padding-top: 120px;
}
.pro-image img{
	border-radius:100%;
	border: 5px solid white;
	height: 240px;
}
h5 {
	font-size: 1.2em;
}
h1 {
	font-size: 4.0em;
	margin: 1px 1px 10px 1px;
}
/* Divider "info" formatting start */
.info {
	text-align: center;
	font-size: 2.5em;
}
div.info img {
	height: 60px;
	vertical-align: middle;
}
/* Divider "info" temperaturePipe end */
/* Divider "history" formatting start */
.history {
	display: inline-block;
}
div.history img {
	height: 5em;
	padding: 0 2.5em 0 2.5em;
}
/* Divider "history" formatting end*/
/* aboutme div control */
.home {
	display: none;
	text-align: center;
	font-size: 1.5em;
	max-width: 85%;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
}