/* Master control */
body{
	color:#2d4084;
	background: #e6e6e6;
}
/* ************************** */

/* My name */
h1 {
	text-align:center;
	font-size: 4.25em;
	margin: 75px 1px 10px 1px;
}
/* ************************** */

.pro-image {
	display:flex; /* don't forget this */
	justify-content:center; /* interesting */
	-webkit-content:center;
	align-items:center; /* interesting */
	-webkit-align-items: center;
	margin: 0 auto;
}
.pro-image img{
	border-radius:100%;
	border: 10px solid white;
	height: 400px;
}
/* Text that says "About me" */
h5 {
	text-align: center;
	font-size: 1.2em;
	margin: 0;
	margin: 2px;
}
/* ************************** */

.sexy_top_line{ 
    display:block;
    height: 6px;
    background: linear-gradient(-90deg, #e6e6e6, white, #e6e6e6);
    margin: 50px 0px 0px;
}

/* Divider "info" Phone number and email */
.info {
	text-align: center;
	font-size: 2em;
	margin: 20px 0px 20px 0px;
}
div.info i {
	padding: 0 1% 0 1% ;
}
div.info img {
	height: 60px;
	vertical-align: middle;
}
/* ************************** */

.sexy_bottom_line{ 
    display:block;
    height: 6px;
    background: linear-gradient(-90deg, #e6e6e6, white, #e6e6e6);
    margin: 0px 16%;
}
/* Divider "history" formatting start */
.history {
	/* display: inline-block; */
	text-align: center;
	margin: 20px 0px;
}
div.history img {
	height: 50px;
	padding: 0 20px 0 20px;
}
/* ************************** */

/* aboutme div control */
.aboutme {
	margin: auto;
	padding: 10px 0 20px 0;
	display: none;
	text-align: center;
	font-size: 1.5em;
	max-width: 61%;
	font-family: 'Raleway', sans-serif;
}
.aboutme h2 {
	margin: 1%;
}